.advantage {
  background-color: $bg-grey;

  &--full {
    background-color: $bg-blue-1;
  }
}

.advantage__wrapper {
  box-sizing: border-box;
  padding: 33px 20px;
  text-align: center;
}

.advantage__title {
  margin: 0;
  line-height: $line-height-1;
  font-size: $font-size-1;
  font-weight: bold;

  &--full {
    color: $font-white;
  }
}

.advantage__number {
  line-height: 21px;
  color: $font-grey;

  &--full {
    color: $font-white;
  }
}

.advantage__description {
  margin: 0;
  line-height: 21px;
  color: $font-grey;

  &--full {
    color: $font-white;
  }
}

.advantage__photo--full {
  display: block;
}

@media (min-width: $tablet-width) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;

    &--full {
      width: 100%;
    }

    &--full-reverse {
      flex-direction: row-reverse;
    }
  }

  .advantage__wrapper--full {
    width: 33.33%;
  }

  .advantage__photo--full {
    // width: 66.67%;
  }

  .advantage__advice-list {
    display: flex;
    width: 100%;
  }
}
