.btn {
  display: inline-block;
  width: 280px;
  vertical-align: middle;
  text-align: center;
  line-height: 58px;
  font-size: 21px;
  color: $white;
  background-color: $bg-blue;
  font-weight: bold;
  text-decoration: none;
  border: none;
}
