.caption {
  font-size: $font-size-text;
  line-height: $line-height-text;

  &__title {
    font-weight: bold;
  }

  &__author {
    color: $font-grey;
    text-transform: none;
  }

  &__like-number {
    font-weight: bold;
  }
}
