.features__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  text-align: center;
  outline: 1px solid blue;
}

.features__title {
  margin: 0;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 40px;
  padding-bottom: 5px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
}

.features__intro {
  padding: 10px 20px;
  line-height: $line-height-1;
  color: $font-grey;
}

.features__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    // outline: 1px solid green;
  }

  .features__title {
    padding: 0 120px;
    padding-top: $distance-vertical-1;
  }

  .features__intro {
    margin-top: 15px;
    margin-bottom: 42px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    width: $desktop-width;
    margin: 0 auto;
    // outline: 1px solid aqua;
  }
}
