.features__wrapper {
  font-family: $font-family;
  text-transform: uppercase;
}

.features__title {
  line-height: $line-height-title;
  font-size: $font-size-title;
  font-weight: bold;
}

.features__intro {
  line-height: 21px;
  font-size: $font-size-text;
}

.features__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
