.form__section {
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
}

.form__item {
  margin: 20px 0;
}

.form__title {
  padding: 0;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
}

.form__list {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.form__label {
  line-height: $line-height-1;
  color: $font-grey;
}

.form__mark-required {
  color: $font-grey;
}

.form__label-choice {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  text-transform: none;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  border-width: 0;
  background-color: $bg-input;
}

.form__input::placeholder {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  color: $font-black;
  opacity: 1;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: $margin-bottom-1;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  border-width: 0;
  background-color: $bg-input;
}

.form__textarea::placeholder {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  color: $font-black;
  opacity: 1;
}

.form__submit {
  width: 100%;
}

.form__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__section {
    &:nth-of-type(1) {
      width: 50%;
    }

    &:nth-of-type(2) {
      flex-direction: column;
      width: 100%;
    }

    &:nth-of-type(3) {
      width: 50%;
      order: -1;
    }

    &:nth-of-type(4) {
      width: 100%;
    }

    &:nth-of-type(5) {
      width: 100%;
    }
  }

  .form__list {
    display: flex;
    flex-direction: column;

    &--attractions {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .form__item {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;

    &--attraction {
      width: 50%;
    }
  }

  .form__submit {
    width: 40%;
    margin-right: auto;
  }

  .form__note {
    display: block;
    margin-left: auto;
    color: $font-grey;
  }
}

@media (min-width: $desktop-width) {
  .form__list--contact {
    flex-direction: row;
  }

  .form__item--contact {
    display: flex;
    width: 50%;
    align-items: baseline;
  }

  .form__label-addition {
    display: none;
  }

  .form__label {
    white-space: nowrap;
  }

  .form__list--attractions {
    flex-wrap: nowrap;
  }
}
