.form__section {
  position: relative;
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  &--attractions {
    padding-bottom: 9px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    width: $mobile-width;
    height: 1px;
    background-color: $bg-grey-3;
  }

  &--name::before {
    top: 0;
  }

  &--contact::before {
    top: 3px;
  }

  &--rating::before {
    top: 7px;
  }

  &--attractions::before {
    top: 15px;
  }

  &--experience::before {
    top: 0;
  }
}

.form__title {
  position: relative;
  padding: 0;
  // text-align: center;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;

  &--name {
    padding-top: 18px;
    padding-bottom: 5px;
  }

  &--contact {
    padding-top: 22px;
    padding-bottom: 10px;
  }

  &--rating {
    padding-top: 26px;
    padding-bottom: 10px;
  }

  &--attractions {
    padding-top: 32px;
    padding-bottom: 10px;
  }

  &--experience {
    padding-top: 18px;
    padding-bottom: 15px;
  }
}

.form__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  &--contact {
    margin-bottom: 10px;
  }
}

.form__item {
  display: flex;
  align-items: baseline;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  &--contact {
    position: relative;
    flex-direction: column;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $bg-grey-5;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      // outline: 1px solid blue;
    }
  }

  &--phone::before {
    background-image: url("../../img/icon-phone.svg");
  }

  &--email::before {
    background-image: url("../../img/icon-mail.svg");
  }

  &--rating {
    padding-top: 26px;
    padding-bottom: 18px;
    padding-left: 78px;
  }

  &--attraction {
    padding-top: 21px;
    padding-bottom: 34px;
    padding-left: 80px;
  }
}

.form__label {
  padding-right: 15px;
  line-height: $line-height-1;
  color: $font-grey;

  &--contact {
    padding-bottom: 7px;
    padding-left: 22px;
  }
}

.form__mark-required {
  color: $font-grey;
}

.form__label-choice {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  text-transform: none;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  padding-left: 22px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  border-width: 0;
  background-color: $bg-input;
  // outline: 1px solid blue;
}

.form__input-radio + .form__label-choice::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: $bg-input;
  border: 16px solid $bg-input;
  border-radius: 50%;
  // outline: 1px solid aqua;
}

.form__input-radio:hover + .form__label-choice::before {
  background-color: $bg-grey-3;
  border: 16px solid $bg-grey-3;
}

.form__input-radio:active + .form__label-choice::before {
  background-color: $bg-grey-4;
  border: 16px solid $bg-grey-4;
}

.form__input-radio:checked + .form__label-choice::before,
.form__input-radio:checked:hover + .form__label-choice::before {
  background-color: $font-grey;
}

.form__input-radio:checked:active + .form__label-choice::before {
  background-color: $input-radio-active;
}

.form__input-checkbox + .form__label-choice::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 55px;
  height: 55px;
  border-radius: 10%;
  background-color: $bg-input;
}

.form__input-checkbox:hover + .form__label-choice::before {
  background-color: $bg-grey-3;
}

.form__input-checkbox:active + .form__label-choice::before {
  background-color: $bg-grey-4;
}

.form__input-checkbox:checked + .form__label-choice::before,
.form__input-checkbox:checked:hover + .form__label-choice::before {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // outline: 1px solid magenta;
}

.form__input-checkbox:checked:active + .form__label-choice::before {
  background-image: url("../../img/icon-tick-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__input::placeholder {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  color: $font-black;
  opacity: 1;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: 16px 20px;
  margin-bottom: 32px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  border-width: 0;
  background-color: $bg-input;
}

.form__textarea::placeholder {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  color: $font-black;
  opacity: 1;
}

.form__submit {
  margin-bottom: 35px;
  width: 100%;
}

.form__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__section {
    &::before {
      display: none;
    }

    &--name {
      width: 50%;
      padding-bottom: 43px;
    }

    &--contact {
      flex-direction: column;
      width: 100%;
      padding-bottom: 5px;
    }

    &--rating {
      width: 50%;
      order: -1;
    }

    &--attractions {
      width: 100%;
      padding-bottom: 6px;
    }

    &--experience {
      width: 100%;
      padding-bottom: 12px;
    }
  }

  .form__title {
    position: relative;
    font-size: $font-size-3;
    padding-top: 14px;
    padding-bottom: 14px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 127px;
      height: 1px;
      background-color: $bg-grey-6;
      // outline: 1px solid limegreen;
    }

    &--name {
      padding-left: 58px;
      margin-bottom: 28px;
      text-align: left;

      &::before {
        top: 15px;
        left: 0;
        width: 293px;
        transform: rotate(90deg);
        transform-origin: left;
      }

      &::after {
        display: none;
      }
    }

    &--contact {
      // padding-left: 186px;
      // padding-right: 10px;
      &::before,
      &::after {
        top: 50%;
        }

        &::before {
          left: -184px;
        }

        &::after {
          left: 336px;
        }
      }

    &--rating {
      margin-bottom: 34px;
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }

    &--attractions {
      padding: 0 120px;
      margin-bottom: 33px;

      &::before,
      &::after {
        top: 50%;
      }

      &::before {
        left: 0;
      }

      &::after {
        left: 525px;
      }
    }

    &--experience {
      margin-bottom: 45px;

      &::before,
      &::after {
        top: 50%;
      }

      &::before {
        left: -200px;
      }

      &::after {
        left: 325px;
      }
    }
  }

  .form__list {
    display: flex;
    flex-direction: column;

    &--contact {
      margin-bottom: 45px;
    }

    &--attractions {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 95px;
      margin-right: 35px;
      margin-bottom: 20px;
    }
  }

  .form__item {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;

    &--name {
      padding-left: 58px;
    }

    &--rating {
      padding-left: 78px;
      padding-bottom: 25px;
    }

    &--attraction {
      width: 50%;
      padding-bottom: 44px;
    }
  }

  .form__label--email {
    padding-top: 12px;
  }

  .form__submit {
    width: 324px;
    margin-right: auto;
    margin-bottom: 58px;
  }

  .form__note {
    display: block;
    margin-left: auto;
    padding-top: 22px;
    color: $font-grey;
  }

  .form__input-radio + .form__label-choice::before {
    top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .form__section {
    &--name {
      width: 49%;
      padding-left: 22px;
      padding-bottom: 41px;
    }

    &--contact {
      padding-right: 10px;
    }

    &--rating {
      padding-left: 80px;
    }

    &--attractions {
      padding-bottom: 4px;
    }

    &--experience {
      padding-right: 10px;
    }
  }

  .form__title {
    &::before,
    &::after {
      width: 280px;
    }
    &--name {
      margin-bottom: 27px;

      &::before {
        width: 293px;
        top: 17px;
        left: -29px;
      }
    }

    &--contact {
      margin-bottom: 49px;

      &::before {
        left: -350px;
      }

      &::after {
        left: 333px;
      }
    }

    &--attractions {
      padding-left: 280px;
      padding-right: 280px;
      margin-bottom: 35px;

      &::before {
        left: 0;
      }

      &::after {
        left: 682px;
      }
    }

    &--experience {
      &::before {
        left: -360px;
      }

      &::after {
        left: 321px;
      }

    }
  }

  .form__list {
    &--contact {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 48px;
    }

    &--attractions {
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .form__item {
    &--name {
      padding-left: 50px;
    }
    &--contact {
      display: flex;
      flex-direction: row;
      width: 50%;
      align-items: baseline;
    }

    &--phone {
      width: 42%;
    }

    &--email {
      // width: 50%;
    }

    &--rating {
      padding-left: 0;
    }

    &--attraction {
      &:first-child {
        width: 21%;
      }

      &:nth-child(2) {
        width: 21%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:last-child {
        width: 22%;
      }
    }
  }

  .form__label {
    white-space: nowrap;

    &--contact {
      padding-left: 0;
    }
  }

  .form__label-choice {
    text-align: center;
  }

  .form__input-radio + .form__label-choice::before {
    top: 8px;
    left: -75px;
  }

  .form__input-checkbox + .form__label-choice::before {
    top: 10px;
    left: 3px;
  }

  .form__submit {
    width: 480px;
    margin-bottom: 62px;
  }

  .form__label-addition {
    display: none;
  }

  .form__note {
    padding-right: 10px;
  }
}
