.form__section {
  position: relative;
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  &--attractions {
    padding-bottom: 9px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    width: $mobile-width;
    height: 1px;
    background-color: $bg-grey-3;
  }

  &--name::before {
    top: 0;
  }

  &--contact::before {
    top: 3px;
  }

  &--rating::before {
    top: 7px;
  }

  &--attractions::before {
    top: 15px;
  }

  &--experience::before {
    top: 0;
  }
}

.form__title {
  padding: 0;
  padding-top: 18px;
  padding-bottom: 10px;
  text-align: center;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;

  &--contact {
    padding-top: 22px;
    padding-bottom: 10px;
  }

  &--rating {
    padding-top: 28px;
  }

  &--attractions {
    padding-top: 35px;
  }

  &--experience {
    padding-bottom: 15px;
  }
}

.form__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  &--contact {
    margin-bottom: 10px;
  }
}

.form__item {
  display: flex;
  align-items: baseline;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  &--contact {
    position: relative;
    flex-direction: column;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $bg-grey-5;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      // outline: 1px solid blue;
    }
  }

  &--phone::before {
    background-image: url("../../img/icon-phone.svg");
  }

  &--email::before {
    background-image: url("../../img/icon-mail.svg");
  }

  &--rating {
    padding-top: 26px;
    padding-bottom: 18px;
    padding-left: 78px;
  }

  &--attraction {
    padding-top: 21px;
    padding-bottom: 34px;
    padding-left: 80px;
  }
}

.form__label {
  padding-right: 15px;
  line-height: $line-height-1;
  color: $font-grey;

  &--contact {
    padding-bottom: 7px;
    padding-left: 22px;
  }
}

.form__mark-required {
  color: $font-grey;
}

.form__label-choice {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  text-transform: none;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  padding-left: 22px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  border-width: 0;
  background-color: $bg-input;
  // outline: 1px solid blue;
}

.form__input-radio + .form__label-choice::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: $bg-input;
  border: 16px solid $bg-input;
  border-radius: 50%;
  // outline: 1px solid blue;
}

.form__input-radio:hover + .form__label-choice::before {
  background-color: $bg-grey-3;
  border: 16px solid $bg-grey-3;
}

.form__input-radio:active + .form__label-choice::before {
  background-color: $bg-grey-4;
  border: 16px solid $bg-grey-4;
}

.form__input-radio:checked + .form__label-choice::before,
.form__input-radio:checked:hover + .form__label-choice::before {
  background-color: $font-grey;
}

.form__input-radio:checked:active + .form__label-choice::before {
  background-color: $input-radio-active;
}

.form__input-checkbox + .form__label-choice::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 55px;
  height: 55px;
  border-radius: 10%;
  background-color: $bg-input;
}

.form__input-checkbox:hover + .form__label-choice::before {
  background-color: $bg-grey-3;
}

.form__input-checkbox:active + .form__label-choice::before {
  background-color: $bg-grey-4;
}

.form__input-checkbox:checked + .form__label-choice::before,
.form__input-checkbox:checked:hover + .form__label-choice::before {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // outline: 1px solid magenta;
}

.form__input-checkbox:checked:active + .form__label-choice::before {
  background-image: url("../../img/icon-tick-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__input::placeholder {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  color: $font-black;
  opacity: 1;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: 16px 20px;
  margin-bottom: 32px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  border-width: 0;
  background-color: $bg-input;
}

.form__textarea::placeholder {
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: bold;
  color: $font-black;
  opacity: 1;
}

.form__submit {
  margin-bottom: 35px;
  width: 100%;
}

.form__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__section--name {
    width: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: -2px;
      width: 1px;
      height: 293px;
    }
  }

  .form__section--contact {
    flex-direction: column;
    width: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 56px;
      width: 127px;
      height: 1px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form__section--rating {
    width: 50%;
    order: -1;

    &::before {
      display: none;
    }
  }

  .form__section--attractions {
    width: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 55px;
      width: 127px;
      height: 1px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form__section--experience {
    width: 100%;
    padding-bottom: 16px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 40px;
      width: 127px;
      height: 1px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form__section {
    &::before,
    &::after {
      background-color: $bg-grey-6;
    }
  }

  .form__title {
    position: relative;
    font-size: $font-size-3;

    &--name {
      padding-top: 28px;
      padding-bottom: 48px;
      padding-left: 56px;
      text-align: left;
    }

    &--contact {
      padding-top: 46px;
      padding-bottom: 14px;
    }

    &--rating {
      padding-bottom: 48px;
      text-align: left;
    }

    &--attractions {
      padding: 0 120px;
      padding-top: 32px;
      padding-bottom: 35px;
    }

    &--experience {
      padding-top: 30px;
      padding-bottom: 58px;
    }
  }

  .form__list {
    display: flex;
    flex-direction: column;

    &--attractions {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 95px;
      margin-right: 35px;
    }
  }

  .form__item {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;

    &--name {
      padding-left: 58px;
    }

    &--rating {
      padding-left: 78px;
      padding-bottom: 25px;
    }

    &--attraction {
      width: 50%;
      padding-bottom: 44px;
    }
  }

  .form__label--email {
    padding-top: 12px;
  }

  .form__submit {
    width: 324px;
    margin-right: auto;
    margin-bottom: 58px;
  }

  .form__note {
    display: block;
    margin-left: auto;
    padding-top: 22px;
    color: $font-grey;
  }
}

@media (min-width: $desktop-width) {
  .form__list--contact {
    flex-direction: row;
  }

  .form__item--contact {
    display: flex;
    width: 50%;
    align-items: baseline;
  }

  .form__label-addition {
    display: none;
  }

  .form__label {
    white-space: nowrap;
  }

  .form__item--attraction {
    width: 25%;
  }
}
