.gallery-video {
  margin: 0;
  padding: 0;
  width: 320px;
  // outline: 1px solid red;
}

.gallery-video__title {
  margin: 0;
  padding: 0 20px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: $font-size-1;
  line-height: $line-height-1;
  text-align: center;
}

.gallery-video__intro {
  margin: 0;
  padding: 0 22px;
  padding-top: 16px;
  padding-bottom: 34px;
  color: $font-grey;
  text-align: center;
}

.gallery-video__item {
  padding-bottom: 38px;
  // margin-bottom: 38px;
  width: 320px;
}
