.hotel__wrapper {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
  margin-bottom: 45px;
  text-align: center;
  // outline: 1px solid magenta;
}

.hotel__title {
  margin: 0;
  line-height: $line-height-1;
  font-size: 21px;
}

.hotel__description {
  padding: 0 25px;
  padding-top: 20px;
  padding-bottom: 35px;
  margin: 0;
  color: $font-grey;

  & br {
    display: none;
  }
}

.hotel__search {
  display: block;
  width: 280px;
}


@media (min-width: $tablet-width) {
  .hotel__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 100px;
    padding-top: 62px;
    padding-bottom: 55px;
    // outline: 1px solid green;
  }

  .hotel__title {
    padding-bottom: 10px;
    font-size: $font-size-4;
  }

  .hotel__description {
    padding-bottom: 40px;

    br {
      display: block;
    }
  }

  .hotel__search {
    width: 458px;
  }
}

@media (min-width: $desktop-width) {
  .hotel__wrapper {
    width: $desktop-width;
    margin: 0 auto;
    // outline: 1px solid aqua;
  }
}
