.modal-success {
  box-sizing: border-box;
  width: 320px;
  padding-top: 40px;
  text-align: center;
  background-color: $bg-white;
  outline: 2px solid $bg-grey-5;
}

.modal-success--closed {
  display: none;
}

.modal-success--opened {
  display: block;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -160px;
}


.modal-success__title {
  margin: 0;
}

.modal-success__text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 45px;
  padding-right: 45px;
}

.modal-success__wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: $bg-input;
}

.modal-success__close {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .modal-success {
    width: 640px;
  }

  .modal-success--open {
    margin-left: -320px;
  }

  .modal-success__text {
    padding-left: 110px;
    padding-right: 110px;
  }

  .modal-success__wrapper {
    padding: 43px;
  }

  .modal-success__close {
    width: 458px;
  }
}
