.page-header {
  // outline: 1px solid blue;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  // outline: 1px solid blue;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 102px;
  height: 83px;
  z-index: 2;
}

.page-header__logo-image {
  display: block;
}

.page-header__city-image {
  display: block;
  margin: 0 auto;
  margin-top: -27px;
  width: 320px;
  height: 389px;
}

.page-header__city-image--feedback {
  height: 158px;
}

.page-header__city-image--gallery {
  height: 158px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    position: relative;
    // width: $tablet-width;
    width: 100%;
    margin: 0 auto;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
    z-index: 5;
  }

  .page-header__city-image {
    margin-top: 0;
    width: 100%;
    // width: 768px;

    &--index {
      height: 518px;
    }

    &--feedback,
    &--gallery {
      height: 288px;
    }
  }

  // .page-header__city-image--feedback {
  //   height: 288px;
  // }
  //
  // .page-header__city-image--gallery {
  //   height: 288px;
  // }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    // width: $desktop-width;
    width: 100%;
    margin: 0 auto;
  }

  .page-header__logo {
    margin-left: -88px;
  }

  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }

  .page-header__city-image {
    width: 100%;
    // width: 1200px;
  }

  .page-header__city-image--feedback {
    height: 300px;
  }
}
