.page-header__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: $distance-vertical-1;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  z-index: 2;
}

.page-header__city-image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    margin-top: -56px;
    z-index: 2;
  }
}
