.page-footer {
  margin: 0 25px;
}

.page-footer__slogan {
  display: block;
  font-family: $font-family;
  line-height: $line-height-title;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
