.recording__image {
  display: block;
  width: 320px;
  height: 202px;
}

.recording__controls {
  margin: 0 auto;
  margin-top: $progress-container-h-m * (-1);
  // width: 280px;
  outline: 1px solid aqua;
}

@media (min-width: $tablet-width) {
  .recording__image {
    width: 648px;
    height: 499px;
  }

  .recording__controls {
    // width: 648px;
  }
}
