.site-list {
  margin: 0;
  padding: 0;
  line-height: 40px;
  list-style: none;
}

.site-list__item {
  display: block;
  box-sizing: border-box;
}

.site-list__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: $mobile-width-only) {
  .site-list {
    font-size: $font-size-1;
    background-color: $bg-blue-1;
  }

  .site-list__item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  .site-list__link {
    color: $font-white;
  }

  .site-list__link[href] {
    &:hover {
      background-color: $bg-blue-2;
    }

    &:active {
      background-color: $bg-blue-3;
      color: $font-white-30;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    background-color: $bg-white;
  }

  .site-list__item {
    flex-basis: 20%;
  }

  .site-list__item--center-left {
    margin-right: auto;
  }

  .site-list__item--center-right {
    margin-left: auto;
  }

  .site-list__link {
    color: $font-black;
    padding: 8px 0;
  }

  .site-list__link--active {
    color: $font-brown;

    &:hover {
      color: $font-dark-brown;
    }

    &:active {
      color: $font-brown-30;
    }
  }

  .site-list__link[href] {
    &:hover {
      color: $font-blue;
    }

    &:active {
      color: $font-black-30;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    // flex-basis: 20%;
  }
}
