.subject {
  font-family: $font-family;
  text-transform: uppercase;
}

.subject__title {
  line-height: $line-height-title;
  font-size: $font-size-title;
  font-weight: bold;
}

.subject__description {
  line-height: 21px;
  font-size: $font-size-text;
  color: $font-grey;
}
