$font-black: #000000;
$font-black-30: rgba(0, 0, 0, 0.3);
$font-grey: #333333;
$font-light-grey: #b2b2b2;
$font-white: #ffffff;
$font-white-30: rgba(255, 255, 255, 0.3);
$font-brown: rgb(118, 99, 87);
$font-brown-30: rgba(118, 99, 87, 0.3);
$font-dark-brown: #604e43;
$font-blue: #81b3d2;
$bg-blue-1: #81b3d2;
$bg-blue-2: #669ec0;
$bg-blue-3: #5496bd;
$bg-grey-1: #eeeeee;
$bg-grey-2: #d6d6d6;
$bg-grey-3: #e5e5e5;
$bg-white: #ffffff;
$bg-input: #f2f2f2;
$bg-controls-1: rgba(102, 102, 102, 0.6);
$bg-controls-2: #f2f2f2;
$font-family: "PT Sans", arial, sans-serif;
$font-size-1: 18px;
$font-size-2: 14px;
$font-size-3: 21px;
$font-size-4: 30px;
$line-height-1: 26px;
$line-height-2: 24px;
$distance-vertical-1: 50px;
$distance-vertical-2: 40px;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
