$font-black: #000000;
$font-black-30: rgba(0, 0, 0, 0.3);
$font-grey: #333333;
$font-light-grey: #b2b2b2;
$font-white: #ffffff;
$font-white-30: rgba(255, 255, 255, 0.3);
$font-brown: rgb(118, 99, 87);
$font-brown-30: rgba(118, 99, 87, 0.3);
$font-dark-brown: #604e43;
$font-blue: #81b3d2;
$bg-blue-1: #81b3d2;
$bg-blue-2: #669ec0;
$bg-blue-3: #5496bd;
$bg-grey-1: #eeeeee;
$bg-grey-2: #d6d6d6;
$bg-grey-3: #e5e5e5;
$bg-grey-4: #d5d5d5;
$bg-grey-5: #e6e6e6;
$bg-grey-6: #dbdbdb;
$bg-grey-30: rgba(0, 0, 0, 0.3);
$bg-white: #ffffff;
$bg-white-20: rgba(255, 255, 255, 0.2);
$bg-input: #f2f2f2;
$input-radio-active: #a4a4a4;
$bg-controls-1: rgba(0, 0, 0, 0.6);
$bg-controls-2: #f2f2f2;
$video-icon-m-1: #5c6870;
$video-icon-m-2: #333333;
$video-icon-m-3: rgba(51, 51, 51, 0.3);
$video-icon-td-1: #ffffff;
$video-icon-td-2: rgba(255, 255, 255, 0.6);
$video-icon-td-3: rgba(255, 255, 255, 0.3);
$font-family: "PT Sans", arial, sans-serif;
$font-size-1: 18px;
$font-size-2: 14px;
$font-size-3: 21px;
$font-size-4: 30px;
$line-height-1: 26px;
$line-height-2: 24px;
$progress-container-h-m: 45px;
$actions-container-h-m: 66px;
$controls-h-td: 93px;
$distance-vertical-1: 50px;
$distance-vertical-2: 40px;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
